<ion-view view-title="Buscar {{fields[0].entity}}">
    <ion-content>
        <form ng-submit="searchItems(criteria)" novalidate>
            <div class="list list-inset" ng-repeat="field in fields">
                <div compile ng-bind-html="field"></div>
            </div>
            
            <div class="padding">
                <button type="submit" class="button button-block button-positive">
                    Pesquisar
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
